#block_title{
	padding: 10px 0 10px 0;
	border-bottom: 1px solid rgb(173, 173, 173);
}
.mainContainer{
	display: flex;
	flex-direction: column;
	width: 400px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.mainContainer h2{
	margin: 40px 0 20px 0;
}

/* Main Info*/
.income_expense{
	display: flex;
	flex-direction: row;
	margin: 20px 0;
	padding: 30px;
	background-color: #fff;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}
.col{
	display: flex;
	flex-direction: column;
}
.income{
	color: rgb(101, 211, 101);
	font-size: 22px;
}	
.expense{
	color: red;
	font-size: 22px;
}
.income_cont{
	margin: 0 auto 0 30px;
}
.expense_cont{
	margin: 0 30px 0 auto;
}
.trans_title{
	font-weight: 600;
	padding: 10px 0;
	text-align: center;
}
.vl{
	border-left: 2px solid rgb(204, 204, 204);
	height: auto;
  	left: 50%;
  	margin-left: -3px;
}

/*History*/
.trans_list_item{
	display: flex;
	flex-direction: row;
	background-color: #fff;
	padding: 10px;
	margin: 10px 0;
	box-shadow: 0 2px 3px 0 rgba(95, 95, 95, 0.2), 0 3px 2px 0 rgba(99, 99, 99, 0.19);
}
.trans_list_item:hover>#btn{
	left: -21px;
	opacity: 1;
}
#btn{
	border: none;
	background-color: rgba(255, 0, 0, 0.493);
	color: #fff;
	position: absolute;
	left: 0;
	opacity: 0;
	transition: left 1s, opacity 1s;
}
.trans_list_item button:hover{
	cursor: pointer;
}
.trans_list_item span{
	cursor: default;
}
.trans_name{
	margin-right: auto;
}
.trans_expense{
	border-right: 5px solid red;
}
.trans_income{
	border-right: 5px solid rgb(101, 211, 101); 
}

/* Add transaction */
.text_cont, .amount_cont{
	display: flex;
	flex-direction: column;
}
.text_cont span, .amount_cont span{
	margin: 10px 0;
}
.amount_cont h4{
	font-weight: normal;
}
.text_cont input, .amount_cont input{
	border: none;
	outline: none;
	padding: 7px;
	font-size: 15px;
	border: 1px solid rgb(194, 194, 194)
}
.btn_cont{
	margin: 10px 0;
}
.btn_cont button{
	width: 100%;
	padding: 10px 0;
	background-color: #9C89FF;
	color: #fff;
	border: none;
	font-size: 16px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}
.btn_cont button:hover{
	cursor: pointer;
	
}