#block_title{
	padding: 10px 0 10px 0;
	border-bottom: 1px solid rgb(173, 173, 173);
}
.mainContainer{
	display: flex;
	flex-direction: column;
	width: 400px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.mainContainer h2{
	margin: 40px 0 20px 0;
}