.mainContainer{
	display: flex;
	flex-direction: column;
	width: 400px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
#balance_title{
	margin: 0;
}

.income_expense{
	display: flex;
	flex-direction: row;
	margin: 20px 0;
	padding: 30px;
	background-color: #fff;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
	
}
.col{
	display: flex;
	flex-direction: column;
	
}
.income{
	color: red;
}	
.income_cont{
	margin: 0 auto 0 30px;
}
.expense_cont{
	margin: 0 30px 0 auto;
}
.expense{
	color: lightgreen;
}
.trans_title{
	font-weight: 600;
	padding: 10px 0;
}
.vl{
	border-left: 3px solid rgb(204, 204, 204);
	height: auto;
  	left: 50%;
  	margin-left: -3px;
}