.trans_list_item{
	display: flex;
	flex-direction: row;
	background-color: #fff;
	padding: 10px;
	margin: 10px 0;
	box-shadow: 0 2px 3px 0 rgba(95, 95, 95, 0.2), 0 3px 2px 0 rgba(99, 99, 99, 0.19);
}
.trans_list_item:hover>#btn{
	left: -21px;
	opacity: 1;
}
#btn{
	border: none;
	background-color: rgba(255, 0, 0, 0.493);
	color: #fff;
	position: absolute;
	left: 0;
	opacity: 0;
	transition: left 1s, opacity 1s;
}
.trans_list_item button:hover{
	cursor: pointer;
}
.trans_list_item span{
	cursor: default;
}
.trans_name{
	margin-right: auto;
}
.trans_expense{
	border-right: 5px solid red;
}
.trans_income{
	border-right: 5px solid rgb(101, 211, 101); 
}
