@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,body{
	font-family: "Lato", sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}